In [306]:
import os
import pandas as pd 
import numpy as np
cwd= os.getcwd()
path = os.path.join(cwd,'C:\Users\Chip\Desktop\Jupyter\'Energy Indicators.xls')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_9876/3519956613.py, line 5)

In [307]:
file_name= 'Energy Indicators.xls'

energy= pd.read_excel(file_name,skiprows= (17),skipfooter=(38),usecols=range(2,6))

In [308]:
energy=energy.rename(columns={'Unnamed: 2':'Country','Petajoules':'Energy Supply','Gigajoules':'Energy Supply per Capita','%':'% Renewable'})

In [309]:
a=range(0,226)
energy.loc[a,'Energy Supply']*= 1000000

In [310]:
energy.loc['Republic of Korea','Country']='South Korea'
energy.loc['United States of America','Country']='United States'
energy.loc['United Kingdom of Great Britain and Northern Ireland','Country']='United Kingdom'
energy.loc['China, Hong Kong Special Administrative Region','Country']='Hong Kong'

In [311]:
path = os.path.join(cwd,'C:\Users\Chip\Desktop\Jupyter\'API_NY.GDP.MKTP.CD_DS2_en_csv_v2_3358362.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_9876/52938068.py, line 1)

In [312]:

file_name= 'API_NY.GDP.MKTP.CD_DS2_en_csv_v2_3358362.csv'

GPD = pd.read_csv(file_name, sep = ',',usecols=range(60),
                 dtype = None, skiprows=4)

In [313]:
GPD=GPD.rename(columns={'Country Name':'Country'})

In [314]:
GPD.loc['Korea, Rep.','Country']='South Korea'
GPD.loc['Iran, Islamic Rep.','Country']='Iran'
GPD.loc['Hong Kong SAR, China','Country']='Hong Kong'

In [315]:
path = os.path.join(cwd,'C:\Users\Chip\Desktop\Jupyter\'scimagojr country rank 1996-2020.xlsx')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_9876/1341428947.py, line 1)

In [316]:
file_name= 'scimagojr country rank 1996-2020.xlsx'

ScimEn= pd.read_excel(file_name)

In [317]:
ScimEn15= pd.read_excel(file_name,skipfooter=(193))

In [318]:
df=pd.merge (ScimEn15, energy,  on = 'Country')

In [319]:
df2=pd.merge(df,GPD,on='Country')
df2       #answer to the first

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,2,United States,Northern America,175891,172431,2230544,724472,12.68,363,NaN,...,1.381461e+13,1.445186e+13,1.471284e+13,1.444893e+13,1.499205e+13,1.554258e+13,1.619701e+13,1.678485e+13,1.752716e+13,1.823830e+13
1,3,India,Asiatic Region,55082,53775,463165,162944,8.41,181,33195000000,...,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
2,5,United Kingdom,Western Europe,43389,42284,615670,111290,14.19,226,NaN,...,2.706015e+12,3.093407e+12,2.921432e+12,2.412390e+12,2.481580e+12,2.659882e+12,2.704017e+12,2.783251e+12,3.065521e+12,2.932785e+12
3,6,Germany,Western Europe,38739,38013,433148,95145,11.18,196,13261000000,...,2.992197e+12,3.421229e+12,3.730028e+12,3.397791e+12,3.396354e+12,3.744409e+12,3.527345e+12,3.732743e+12,3.883920e+12,3.356236e+12
4,7,Russian Federation,Eastern Europe,36735,36560,115938,54993,3.16,90,30709000000,...,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
5,8,Canada,Northern America,33472,32863,568080,100953,16.97,227,10431000000,...,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
6,10,South Korea,Asiatic Region,27655,27445,328488,61531,11.88,155,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,14,Brazil,Latin America,21524,21236,183915,45172,8.54,127,12149000000,...,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616201e+12,2.465189e+12,2.472807e+12,2.455994e+12,1.802214e+12

In [324]:
data=GPD
a=50
b=0
avrg=0
ser=pd.Series(range(266))
riz=pd.Series(range(266))
for b in range(0, 265):
    for a in range(50, 60):
        avrg+=data.iloc[b,a]
        
    ser.iloc[b]=avrg/10
    
   # riz.iloc[b]=data.iloc[b,60]-data.iloc[b,50]
    avrg=0
    rizn=0
ser=ser.sort_values(ascending=False,na_position='last')
a=0
for a in range(0,265):
    if np.isnan(ser[a]):
        ser.drop(ser.index[a])
answ=pd.Series(range(15))
for b in range(0,15):
    answ.iloc[b]=ser.iloc[b]
print(answ2)              #answer to the second

17013785296650.57

In [326]:
def find(s, el):
    for i in s.index:
        if s[i] == el: 
            return i
    return None
a=find(ser, answ.iloc[6])
answ3=data.iloc[a,59]-data.iloc[a,49]
answ3               #answer to the third

17013785296650.57